<div class="gallery-wrapper">

{% include "stickers" %}

<div class="gallery-top">
  <div class="swiper-container js-product-gallery-main">
    <div class="swiper-wrapper">
        {% for image in product.images %}
        {% assign gallery_title = '' %}
        {% if image.title.size > 0 %}
          {% capture gallery_title %}title="{{ image.title }}"{% endcapture %}
        {% endif %}
          <a href="{{ image.original_url }}" data-fancybox="gallery" class="swiper-slide gallery-slide" {{ gallery_title }}>
            {% assign img_title = product.title | escape| replace: '"', '&#34' | replace: '"', '&#34' %}
            <div class="gallery-thumb image-container is-square">
              <span class="image-flex-center">
                <img {% if forloop.first %}itemprop="image"{% endif %} src="{{ image.original_url }}" data-zoom="{{ image.original_url }}" alt="{{ img_title }}">
              </span>
            </div>
          </a>
        {% endfor %}
    </div>
  </div>
</div>

{% if product.images.size > 1 %}
<div class="gallery-thumbs-wrap">
  <div class="swiper-container gallery-thumbs js-gallery-thumbs">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide js-gallery-trigger">
            <div class="gallery-thumb image-container is-square">
              <span class="image-flex-center">
                <img src="{{ image | image_url: 220 }}" alt="">
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Add Arrows -->
  </div>
  {% if product.images.size > 3 %}
  <div class="swiper-button-next is-thumb swiper-button-black"></div>
  <div class="swiper-button-prev is-thumb swiper-button-black"></div>
  {% endif %}
</div>
{% endif %}
</div>
